In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [16]:
df = pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [17]:
df.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [18]:
df.var()

Unit A    0.083179
Unit B    0.117924
dtype: float64

In [19]:
#now we perform 2-samplle t test
Ho(null hypothesis)=Averages of diameters of Unit A is equal to Averages of diameters of unit B
Ha(alternate hypothesis)= Averages of diameters of Unit A is not equal to Averages of diameters of unit B

SyntaxError: invalid syntax (<ipython-input-19-b2688979ae16>, line 2)

In [20]:
Ttest, p_value = stats.ttest_ind(df['Unit A'],df['Unit B'])

In [21]:
p_value

0.4722394724599501

In [22]:
if p_value<0.05: #Î±=0.05
    print("We are rejecting Null Hypothesis")
else:
    print("We are accepting Null Hypothesis")

We are accepting Null Hypothesis