In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [2]:
hp2=pd.read_csv("LabTAT.csv")
hp2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
hp2.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [4]:
hp2.var()

Laboratory 1    173.543568
Laboratory 2    223.715251
Laboratory 3    273.539607
Laboratory 4    227.559632
dtype: float64

In [ ]:
#we perform Anova one way test
Ho=Averahe Tat is same for all samples
H1=Average Tat is not same for all samples

In [9]:
test,p_value=stats.f_oneway(hp2.iloc[:,0],hp2.iloc[:,1],hp2.iloc[:,2],hp2.iloc[:,3])

In [10]:
p_value

2.1156708949992414e-57

In [12]:
if p_value < 0.05: #Î± = 0.05
    print("we are rejecting null hypothesis")
else:
    print("we are not rejecting null hypothesis" )

we are rejecting null hypothesis